adbutils==2.12.0
aircv==1.4.6
altgraph==0.17.5
certifi==2026.1.4
charset-normalizer==3.4.4
decorator==5.2.1
deprecation==2.1.0
idna==3.11
numpy==2.4.1
opencv-python==4.13.0.90
packaging==26.0
pefile==2024.8.26
pick==2.4.0
pillow==12.1.0
pyinstaller-hooks-contrib==2026.0
pywin32-ctypes==0.2.3
requests==2.32.5
retry2==0.9.5
setuptools==80.10.2
urllib3==2.6.3
windows-curses==2.4.1
